* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Debug */
.debug .container {
  background-color: brown;
  height: 700px;
}

.debug .selected {
  background-color: cadetblue;
  height: 100%;
}

.debug .carousel {
  background-color: chocolate;
  height: 100%;
}

.debug .buttons {
  background-color: cornflowerblue;
  height: 100%;
}

body {
  background-color: bisque;
}

.container {
  width: 80%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selected {
  width: 67%;
}

.carousel {
  width: 27%;
}

.buttons {
  width: 6%;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: calc(100% / 5);
  display: block;
}

.upBtn, 
.downBtn {
  cursor: pointer;
  margin: 1rem 0;
}